@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

$title-font: "Montserrat", sans-serif;
$header-font: "Benne", serif;
$body-font: "Noto Sans JP", sans-serif;
$white: #ffffff;
$red: #933325;
$orange: #e36f2c;
$grey: #333333;
$beige: #fbe6da;
$silver: #c2c2c2;
$star-yellow: #ff9933;
$green: #095d59;

/* General Styling */
body {
  background-color: $grey;
  color: $white;
  font-family: $body-font;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: $header-font;
}

h3,
h4,
p,
span {
  font-family: $body-font;
}

.grid-container {
  padding: 0;
  margin-bottom: 10%;
}

.cell {
  margin: 20px;
}

.button {
  margin: 10px;
  font-weight: bold;
}

.inline {
  margin: 20px;
  margin-bottom: 50px;
  padding: 0 30px;
  display: inline-flex;
  flex-direction: row;
  font-family: $body-font;
}

.header {
  padding-left: 30px;
  margin-bottom: 20px;
}

/* NavBar */
.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px;
  padding-left: 10px;
  font-family: $title-font;
  background-color: $orange;
  color: $grey;
  box-shadow: 0px 15px 10px -15px #111;

  .label {
    padding: 12px;
  }

  a {
    color: $grey;
  }

  h4 {
    font-family: $title-font;
    color: $beige;
  }
}

.top-bar-right {
  display: flex;
  align-items: baseline;
}

.dropdown {
  margin-right: 50px;

  a:hover {
    color: $red;
  }

  ul {
    background-color: $beige;
  }
}

.dropdown.menu > li.is-dropdown-submenu-parent > a:hover {
  color: $grey;
}

.dropdown.menu > li.is-active > a {
  color: $grey;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: $grey transparent transparent;
}

.label {
  border-radius: 2px;
  background-color: $beige;
  color: $white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.label:hover,
.button:focus {
  background-color: $grey;
  color: $beige;
}

/* Landing Page */
.card {
  border-radius: 20px;
  margin: 0 auto;
  font-family: $body-font;
  background-color: $orange;
  max-width: 300px;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  img {
    width: 300px;
    height: 200px;
  }

  h4 {
    color: $white;
    font-weight: bold;
    font-style: italic;
  }
}

.landing-image {
  text-align: center;
  font-style: italic;
  color: $white;
  padding: 4em;
  background: url("https://images.unsplash.com/photo-1542834369-f10ebf06d3e0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHBpenphfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1");
  background-size: cover;
  margin: 0;
}

.landing {
  background-color: $beige;
  color: $grey;
  padding: 15px 0;
  margin-bottom: 20px;

  .icons {
    display: flex;
    justify-content: space-around;
    // max-width: 70%;
    margin: 40px auto;
    padding: 40px;

    i {
      border: solid $orange;
      border-radius: 50%;
      padding: 30px;
      font-size: 3rem;
      width: 114px;
    }
  }
}

.icon-label {
  font-weight: bolder;
}

/* 404 Not Found Page */
.error-page {
  text-align: center;
}

.error-image {
  z-index: -1;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-page::after {
  content: "";
  background: url("https://images.unsplash.com/photo-1593246049226-ded77bf90326?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fHBpenphfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -2;
  background-size: cover;
}

/* Form Styling */
.callout.form {
  max-width: 60%;
  min-width: 300px;
  margin: 20px auto;
  color: $grey;

  .button {
    background-color: $red;
    border-radius: 5px;
    width: 20%;
    min-width: 100px;
    margin-left: 0px;
  }

  label {
    font-weight: bold;
    color: $grey;
  }
}

.callout.alert {
  margin: 20px 0;
  box-shadow: none;
  background-color: $white;
  color: $grey;
}

textarea {
  resize: none;
  overflow-y: scroll;
}

.upload {
  border: 3px dashed $red;
  border-radius: 5px;
  height: 200px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  i {
    color: $red;
  }
}

/* Footer */
.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding: 3.5rem 0;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  background-color: $silver;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    padding: 10px;
  }
}

/* Pizza Style Show Page */
.show-page-image {
  padding: 10em;
  background-size: cover;

  h1 {
    color: $white;
    font-style: italic;
    font-weight: bolder;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  }
}

/* Review Tile */
.review-container {
  display: flex;
  justify-content: space-between;

  img {
    width: 300px;
    height: auto;
  }

  p {
    margin-top: 10px;
  }
}

.review-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-title {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.review-sort-select {
  display: flex;
  width: 50%;

  label {
    flex: 1;
    text-align: left;
    font-size: large;
    color: $white;
  }

  select {
    flex: 3;
  }
}

.review-delete-btn,
.review-delete-btn:hover,
.review-delete-btn:focus {
  background-color: $red;
}

.review-edit-btn,
.review-edit-btn:hover,
.review-edit-btn:focus {
  background-color: $green;
}

.star {
  color: $orange;
  display: inline-flex;
  size: 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 30px;
}

.stars {
  color: $red;
  font-size: larger;
  margin-right: 10px;
  margin-bottom: 20px;
}

.callout {
  position: inherit;
  margin: 20px 50px;
  padding: 20px;
  background-color: $beige;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  .button {
    margin: 5px;
    border-radius: 10%;
  }
}

.fa-thumbs-up {
  font-size: large;
}

/* Mobile Screen Size and Smaller */
@media screen and (max-width: 480px) {
  // Font Size
  h2 {
    font-size: 2rem;
  }

  // Footer
  footer {
    display: flex;
    flex-direction: column;
  }

  // General Styling
  .callout {
    min-width: 300px;
    margin: 10px;
  }

  .review-title {
    margin: 10px;
  }

  // Landing Page
  .landing .icons {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
}

/* Tablet Screen Size and Smaller */
@media screen and (max-width: 768px) {
  // NavBar
  .top-bar .top-bar-left,
  .top-bar .top-bar-right {
    flex: 0;
  }

  .dropdown.menu {
    display: none;
  }

  // Review Tile
  .review-container {
    display: flex;
    flex-direction: column;

    img {
      max-width: 200px;
      height: auto;
      overflow: hidden;
      margin: 1rem 0;
    }
  }

  .review-title {
    flex-direction: column;
  }

  .review-sort-select {
    width: 100%;
  }
}

/* Tablet Screen Size Only*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  // Font Size
  h2 {
    font-size: 2.25rem;
  }
}
